#image{
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 18px;
    color: #e74c3c;
    background-color: white;
    border: 2px solid #e74c3c;
    box-shadow: 0 2px 2px #e74c3c;
    cursor: pointer;
}

#post {
    padding: 6px 12px;
    margin-right: 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #3498db;
    background-color: white;
    border: 2px solid #3498db;
    box-shadow: 0 2px 2px #3498db;
    cursor: pointer;
}

#post:hover, #image:hover {
    scale: 1.05;
}

#post:active {
    background-color: #3498db;
    color: white;
}

#image:active {
    background-color: #e74c3c;
    color: white;
}